# VCS/IDE
.git
.gitignore
.vscode
.idea

# Node/Next
node_modules
.next
out
coverage
.yarn
.pnp
*.tsbuildinfo
next-env.d.ts

dist
build

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel

.env
.env.*
