**/target/
/node_modules
**/*.rs.bk

package-lock.json
package.json
idl.json
yarn.lock
pnpm-lock.yaml

.vscode/
*.code-workspace
.idea/
*.iml

.DS_Store
Thumbs.db

*.log
*.tmp

.env
.env.*
!env.example

/docker-data
*.pid

*.lock
